
<h1>
<%= params %>
</h1>

      <dt>
        Private
      </dt>
      <dd>
      </dd>

<dt>Followers</dt>

<dt>Following</dt>

feed
<ul>
    <li>
      <a href="/users">Profile</a>
    </li>
    <li>
      <a href="/users/austin/liked_photos">Liked photos</a>
    </li>
    <li>
      <a href="/users/austin/feed">Feed</a>
    </li>
    <li>
      <a href="/users/austin/discover">Discover</a>
    </li>
  </ul>
